{% extends 'base.html' %}

{% block body %}
				</div>
			</div>
		</div>
	</div>
  <div class="layout_padding">
      <form class='p-3' action="{{ url_for('auth.login') }}" method='POST'>
    <h1>Login</h1>
    <input class="form-control" type="text" name='login' placeholder='Username or Email' required>
     <input class="form-control" type="text" name='pass' placeholder='Password' required>
     <br>
     <button class="btn btn-primary">Login</button>
     <div>
     {% with msgs = get_flashed_messages(with_categories=True) %}
        {% if msgs %}   
            {% for category, msg in msgs %}
                {% if category == 'error' %}
                <span class="text-danger">{{ msg }}</span>
                {% endif %}
                {% if category == 'success' %}
                <span class="text-success">{{ msg }}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
     {% endwith %}
     <a href="{{ url_for('auth.register', _external=True) }}">Not registered yet? Click here</a>
     </div>
     <div>
     <a href="{{ url_for('auth.new_password', _external=True) }}"> Forgot your Password? Click here</a>
     </div>
</form>
  </div>

{% endblock %}
