{% extends 'base.html' %}

{% block body %}
				</div>
			</div>
		</div>
	</div>
<div class="layout_padding">
    <form class='p-3' action="{{ url_for('auth.register') }}" method='POST'>
    <h1>Register Now!</h1>
    <input class="form-control" type="text" name='username' placeholder='Username' required>
     <input class="form-control" type="text" name='email' placeholder='Email' required>
     <input class="form-control" type="password" name='pass' placeholder='Password' required>
 <input class="form-control" type="password" name='conf-pass' placeholder='Confirm Password' required>
     <br>
     <button class="btn btn-primary">Register</button>
     {% with msgs = get_flashed_messages(with_categories=True) %}
        {% if msgs %}   
            {% for category, msg in msgs %}
                {% if category == 'error' %}
                <span class="text-danger">{{ msg }}</span>

                {% endif %}
                {% if category == 'success' %}
                <span class="text-success">{{ msg }}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
     {% endwith %}
    </form>
</div>

{% endblock %}
